body {
    background-color: #232323;
    color: lightgray;
}
a:link {
    color: orange;
    text-decoration: none;
}
a.action.mpv:link {
    display: block;
    color: purple;
    font-size: 1.2em;
    line-height: 1em;
    text-decoration: none;
}
#files {
    width: 100%;
}
#files {
    font-family: monospace;
}
#files td.hash.ed2k,
#files td.hash.md5,
#screenshots td.hash.ed2k {
    font-size: 0.5em;
}
#screenshots td.episode.number,
#screenshots td.time.position {
    font-size: 2em;
    text-align: right;
    font-family: monospace;
}
table tr:hover td {
    background-color: hsla(0, 100%, 100%, 0.2);
}
#files tr td.filesize,
#files tr td.hash {
    text-align: right;
}

table {
    border-spacing: 0;
    padding: 0;
}

td, th {
    border-style: dashed;
    border-width: 0.5px;
    border-color: darkgrey;
    border-collapse: collapse;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

tr:nth-of-type(even) {
    background-color: #121212;
}

#screenshots td.image {
    text-align: center;
}
