<!DOCTYPE html>
<html lang="en">
<head>
    <title>a{{ anime_id }} - Anime title cards</title>
    <link rel="stylesheet" href="/anime/style.css" type="text/css" title="Style" />
    <script src="/anime/sorttable.js"></script>
</head>
<body>
    <table id="screenshots" class="sortable">
        <thead>
            <tr>
                <th class="episode number">ep</th>
                <th class="time position">position</th>
                <th class="type" title="1 = ep, 2 = anime, 4 = ep preview">type</th>
                <th class="image">image</th>
                {%if show_source_details == 1 %}
                <th class="file name">file</th>
                <th class="file size">size</th>
                <th class="file hash crc32">crc32</th>
                <th class="file hash ed2k">ed2k</th>
                {%- endif %}
                <th class="episode id">eid</th>
                <th class="episode title japanese kanji">jp</th>
                <th class="episode title japanese transcription">jp_t</th>
                <th class="episode title english">en</th>
                {%- if show_source_details == 1 %}
                <th class="file id">fid</th>
                {%- endif %}
            </tr>
        </thead>
        <tbody>
            {%- for screenshot in screenshots %}
            <tr class="screenshot">
                <td class="episode number">{{ screenshot.episode.ep }}</td>
                <td class="time position" raw="{{ screenshot.time_position_raw }}">{{ screenshot.time_position }}</td>
                <td class="type">{{ screenshot.title_type }}</td>
                <td class="image">
                    <a href="/{{ screenshot.filename[7:]|urlencode }}">
                        <img src="/{{ screenshot.filename[7:]|urlencode }}" height="128" loading="lazy" />
                    </a>
                </td>
                {%- if show_source_details == 1 %}
                <td class="file name">{{ screenshot.source_file_name|e }}</td>
                <td class="file size">{{ screenshot.source_file_size }}</td>
                <td class="file hash crc32">{{ screenshot.source_file_hash_crc or '' }}</td>
                <td class="file hash ed2k">{{ screenshot.source_file_hash_ed2k or '' }}</td>
                {%- endif %}
                <td class="episode id"><a href="https://anidb.net/episode/{{ screenshot.eid }}">{{ screenshot.eid }}</a>{%if show_move_links == 1 %}<br /><a href="https://anidb.net/file/add/?aid={{ screenshot.episode.aid }}&eid={{ screenshot.eid }}&move={{ screenshot.fid }}">move file</a>{% endif %}</td>
                <td class="episode title japanese kanji">{%if screenshot.episode.title_jp %}{{ screenshot.episode.title_jp|e or '' }}{% endif %}</td>
                <td class="episode title japanese transcription">{%if screenshot.episode.title_jp_t %}{{ screenshot.episode.title_jp_t|e or '' }}{% endif %}</td>
                <td class="episode title english">{%if screenshot.episode.title_en %}{{ screenshot.episode.title_en|e or '' }}{% endif %}</td>
                {%- if show_source_details == 1 %}
                <td class="file id"><a href="https://anidb.net/file/{{ screenshot.fid }}">{{ screenshot.fid }}</a></td>
                {%- endif %}
            </tr>
            {%- endfor %}
        </tbody>
    </table>
    <footer>
        <p>
            Anime data is from <a href="https://anidb.net">AniDB</a>, which is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
        </p>
    </footer>
</body>
</html>
